## Edit Aliases
alias editAliases='sudo nano ~/.aliases';

## Show or Hide Hidden Files
alias showHiddenFiles='defaults write com.apple.finder AppleShowAllFiles TRUE';
alias hideHiddenFiles='defaults write com.apple.finder AppleShowAllFiles FALSE';

## Directory Shortcuts
alias projects='cd ~/Projects';
alias dropbox='cd /Users/kevinweeks/Dropbox';
alias desktop='cd ~/Desktop';
alias downloads='cd ~/Downloads';

## Git
alias gb='git branch'
alias gc='git checkout'
alias gd='git log -1 --format="%an %ae%n%cn %ce"'
alias gl='git log'
alias gs='git status'
alias pop='git stash pop'
alias pull='git pull origin "$(git rev-parse --abbrev-ref HEAD)"'
alias pullr='git pull --rebase origin master'
alias push='git push origin "$(git rev-parse --abbrev-ref HEAD)"'
alias pushr='git push origin "$(git rev-parse --abbrev-ref HEAD)":refs/for/"$(git rev-parse --abbrev-ref HEAD)"'
alias stash='git stash'